<!-- 
File Name :-sidebar.component.html	   	Created Date :-14-09-2020     Created By :- Faiser I (Emp. Id : VTPL/BLR/006)
	
Description :- this is the side bar component, this component is used to add other components in sidebar,					
	
============================================================================================================================
  Sl.No			    Description			                                Modified By		              	      Modified Date	
============================================================================================================================
	
	
 -->

<mat-nav-list>
  <div class="profile-card">
    <img src="assets/img/doctor/doctor.png" alt="{{ currentUserAvatar }}" class="my-3" />
    <div class="header">
      <h5>{{currentUserName}}</h5>
      <h6>doc.{{currentUserName}}@hms.com</h6>
    </div>
  </div>\

  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="">
    <mat-icon>dvr</mat-icon>Dashboard
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/doctorshome/listdoctor">
    <mat-icon>local_hospital</mat-icon>Doctors
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/appointmenthome/listappointment">
    <mat-icon>meeting_room</mat-icon>Appointment
  </a>

  <!-- Faiser side bar starts here -->


  <span>
    <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent mb-1" (click)="toggleSubmenu('master_submenu')">
      <mat-icon>menu_book</mat-icon>
      <span class="full-width">Master</span>
      <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">expand_more</mat-icon>
    </mat-list-item>
    <!-- <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" id="master_submenu">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/addbillconfiguration">
        <mat-icon> attach_money</mat-icon>Bill Configuration
      </a>
    </div> -->
    <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" id="master_submenu">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/departmentMaster">
        <mat-icon> local_hospital</mat-icon>Department
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/doctorRoleMaster">
        <mat-icon> local_hospital</mat-icon>Doctor Role
      </a>
    </div>

  </span>
  <!-- Faiser side bar ends here -->


  <!-- Manjunath side bar starts here -->


  <!-- Manjunath side bar ends here -->


  <!-- Vikash Kumar Jha side bar starts here -->


  <!-- Vikash Kumar Jha side bar ends here -->
</mat-nav-list>